*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,13,17,1) 100%, rgba(0,212,255,1) 100%);
}
.image-login
{
    width: 120px;
    height: 120px;
}

.email-password
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form
{

    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;

}

.card
{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10%;
    box-shadow: 0px 5px 31px 16px #000000;
    width: 360px;
    height: 400px;
}
input{
    height:2rem;
    padding-left: 5px;
}

.entrar, .password
{   
    margin: 10px;
    width: 180px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}
.entrar:hover
{
    background-color: #d6073eab;
}

.entrar
{
    background-color: #d6073f;
    color: #ffffff;
}
p{
    margin:10px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
