*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #dbdbdbcb;
}
.image-login
{
    width: 120px;
    height: 120px;
}

.email-password
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form
{

    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;

}

.card
{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10%;
    border: 3px solid #0f6067;
    box-shadow: -5px 5px 11px 4px rgba(45, 51, 52, 0.75);
    width: 360px;
    height: 400px;
}
input{
    height:2rem;
    padding-left: 5px;
}

.entrar, .password
{   
    margin: 10px;
    width: 180px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.entrar
{
    background-color: #0f6067;
    color: #ffffff;
}
p{
    margin:10px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
