*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.image-login
{
    width: 120px;
    height: 120px;
}

.email-password
{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form
{

    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;

}

.card
{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px 55px;
    box-shadow: 0px 20px 20px 15px #240417c1;
    width: 300px;
    height: 500px;
}
input{
    height:2rem;
    padding-left: 5px;
    margin: 10px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.entrar, .password
{   
    margin-top: 30px;
    width: 180px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
.entrar:hover
{
    background-color: #d6073eab;
}

.entrar
{
    background-color: #cb57bc;
    color: #ffffff;
}
p{
    margin:20px 0px;
    color: #f56cc3;
    font-variant: small-caps;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
